
#bodys {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #632432 ;
}


#carta  {
    height: 100%;
    width: 100%;
    margin: 9% auto;
    margin-bottom: auto;
    background: #F5F7FA;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5%;
}

#nuevo {
    
    display: inline-block;
    font-size: 1.20em;
    margin: 0px 0px 15px 0px;
    width: 100px;
    height: 45px;
    padding: 10px 0px;
    text-decoration: none;
 
}

.card-header h3{
    font-family: fantasy;
    font-size: 30px;
    margin-top: 1%; 
}

.btn-info {

    width: 40%;
    height: 40%;
    background: lightblue;
    color: black !important;
    
}

.btn-warning {

    width: 40%;
    height: 40%;
    background: yellow;
    color: black !important;
}
