

/* Coded with love by Mutiullah Samim */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #60a3bc ;
}

#cuerpo {
    background-image: url(https://portal.andina.pe/EDPfotografia3/Thumbnail/2017/09/29/000453183W.jpg);
}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #6EB1B4;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 230px;
    top: -75px;
    border-radius: 20%;
    background: #632432;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 210px;
    border-radius: 20%;
    border: 2px solid white;
    background: #632432;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #632432 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #632432 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    height: 38px !important; 

}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;

}




.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: white !important;
}

.error{
    color:red;
}
