
#bodys {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #632432 ;
}


#imagen img{
    margin: 0% 0% 0% -50%;
}


#Contenedorlogo{
    background-color: #C46B7C ;
    width: 69%;
    margin: -7% 0%;

}

#Contenedorlogo2{
    margin: 2% 20%;
    height: 15em;
}


#escritos {
    margin: 0% 0% 0% -23%;
    color: white;
}

#fieldset {
    color: white;
    margin: 20px 170px;
    padding: 3% 4%;
    text-align: center;
    position: relative;
    left: 50%;
    bottom: 120%;
}

#fieldset h3{
    color: white;
}

#fieldset input{

    width: 10px;
    height: 25px;
    background-color:  white;

}


#fieldset h3{

    margin: 10px 10px;
}

#ngui {

    margin: 0px 25px;
    text-align: center;
}


#carta  {
    margin: 7%;
    height: 100%;
    width: 80%;
    margin-bottom: auto;
    background: #F5F7FA;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5%;
}



#main{
    margin: -5% 0% 0% 0%;
    height: 50%;


}
#main2{
    width: 100%;
    background-color: #C46B7C ;
}

#fieldset1 {
    background-color: #ffcccc;
    margin: 10px 0px 0px -10px;
    padding: 20px 60px;
    height: 300px; /*Ancho*/
    width: 1278px;/*Largoo*/
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    right: 100px;
}

#fieldset1 h5{
    color: white;
}

#fila1 input {
    margin: 20px 0px;
    width: 250px;
    height: 40px;
    background-color: white;
}


#fila2{
    margin:0px 0px 0px 80px;
}
#fila2 input {
    margin: 20px 0px;
    width: 250px;
    height: 40px;
    background-color:  white;
}


#col2 fieldset{
    position: relative;
    left: 490px;
    top:10px;
}

#titulodescripcion h3{
    color: white;
}

#tabla{
    width: 90%;
}

#tabla th{
    text-align: center;
    background-color: #ffcccc;
}

#tabla td{
    background-color: white;
}

table,th  {
    border: 1px solid black;
}

table,td  {
    border: 1px solid black;
    
}


#fieldset3 {
    background-color: #ffcccc;
    margin: 0px 0px 0px 60px;
    padding: 0px 20px;
    height: 225px; /*Ancho*/
    width: 260px;/*Largoo*/
    text-align: left;
    font-family: 'Libre Baskerville', serif;
}

#fieldset3 p{
    color: white;
}


#fieldset3 label{
    margin: 5px 15px;
    width: 90px;
}

#fieldset3 input{
    margin: 5px 20px;
    width: 110px;
    height: 35px;
    background-color: white;
}


#fieldset4 {
    background-color: #ffcccc;
    margin: -110px 0px 0px 970px;
    padding: 8px 38px;
    height: 120px; /*Ancho*/
    width: 255px;/*Largoo*/
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

#fieldset4 p{
    color:white;
}

#fieldset4 button{
    margin: -35px 0px 0px 5px;
    padding: 0px 15px;
    height: 45px;
    background-color: white;

}

#ultimoparrafo p{
    color:white;
}
