
body{
	 background: linear-gradient(to bottom, #6699ff 0%, #99ffcc 100%);
	}


h1 img{
	margin:60px 180px;
	height: 120px;
}

#Contenedorlogo{
	background-color: #F5F7FA ;
	position: 	absolute;
	top: 3em;
   	left: 18em;
   	width: 63em;
   	height: 20em;

}

#Contenedorlogo2{
	right: 40em;
}

#imagen{
	margin:5px 70px;
	bottom: 1em;
}

h1{
	margin: 0px 0px 30px -170px;
	height: 210px;
	position: relative;
  	left: 20px;
  	bottom: 30px;

}

#escritos {
	margin: 50px -430px;
	position: relative;
	right: 180px;
	top:120px;
}

#fieldset {

	margin: 20px 170px;
	padding: 20px 40px;
	text-align: center;
	position: relative;
	left: 70px;
	top:40px;
}

#fieldset input{

	width: 10px;
	height: 25px;
	background-color: #ffcccc;

}


#fieldset h3{

	margin: 10px 10px;
}

#ngui {

	margin: 0px 25px;
	text-align: center;
}


#main{

	width: 1450px;/*Largoo*/
	top: 5em;
   	left: 8em;
   	width: 80em;
   	height: 10em;

}

#main2{

		background-color: #F5F7FA ;
		position: 	absolute;
		margin: 0px 0px 0px 60px;	
		height: 52em;
		border-color: #aaaaaa;
}

#main3{
	height: 50em;
}


#fieldset1 {
	margin: 0px 0px 0px 120px;
	padding: 0px 30px;
	height: 275px; /*Ancho*/
	width: 630px;/*Largoo*/
	text-align: left;
	font-family: 'Libre Baskerville', serif;
	right: 230px;
}



#grupo1 input {
	margin: 0px 0px;
	width: 250px;
	height: 40px;
	background-color: #ffcccc;
}
#grupo2 input {
	margin: 0px 0px;
	width: 250px;
	height: 40px;
	background-color: #ffcccc;
}


#fieldset2 {
	padding: 0px 20px;
	height: 190px; /*Ancho*/
	width: 730px;/*Largoo*/
	text-align: left;
	right: 30px;
	font-family: 'Libre Baskerville', serif;
}

#fieldset2 input{
	background-color: #ffcccc;
}
#Agregar button{
	position: relative;
	bottom: 57px;
	left: 550px;
}


#col1 fieldset{

	position: relative;
	right: -40px;
	top:15px;
}

#col2 fieldset{
	position: relative;
  	right: -350px;
    bottom: 225px;
}


#fieldset3 {
	margin: 20px 0px 0px 480px;
	padding: 0px 30px;
	height: 250px; /*Ancho*/
	width: 280px;/*Largoo*/
	text-align: left;
	font-family: 'Libre Baskerville', serif;
}


#fieldset3 label{
	margin: -10px 18px;
	width: 150px;
}

#fieldset3 input{
	margin: 10px 10px;
	width: 200px;
	height: 35px;
	background-color: #ffcccc;
}

#parrafofinal {
	bottom: 150px;
}

#fieldset4 {

	margin: -180px 0px 0px 970px;
	padding: 5px 51px;
	height: 120px; /*Ancho*/
	width: 260px;/*Largoo*/
	text-align: center;
	font-family: 'Libre Baskerville', serif;
}

#fieldset4 button{

	margin: 0px 0px 0px 5px;
	padding: 0px 10px;
	height: 45px;

}

#tabla{
	margin: -150px 4px;
}

#tabla th{

	text-align: center;
	background-color: #ffcccc;
}

table,th  {
	border: 1px solid black;
}

table,td  {
	border: 1px solid black;
}
