
body{
    background: linear-gradient(to bottom, #6699ff 0%, #99ffcc 100%);
    width:100%;
}

.card card-header {
    background : #6699ff;
    height: 40%;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

.card card-body {
    height: 50%;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

#img img{
    margin:30px 0px;
    width: 250px;
    height: 150px;
}

#escritos {
    margin: 0px 0px;
    position: relative;
    right: 0px;
    top:70px;
}



#fieldset {

    margin: 40px 10px;
    padding: 30px 30px;
    text-align: center;
    position: relative;
   
}
#ngui {
    
    margin: 0px 15px;
    text-align: center;
    padding: 15px; 
}

#ngui input{
    
    width: 25px;
    height: 25px;

}


#fieldset h3{

    margin: 10px 10px;
}

#fieldset {
    color: white;
    margin: 20px 170px;
    padding: 3% 4%;
    text-align: center;
    position: relative;
    left: 50%;
    bottom: 120%;
}

#fieldset h3{
    color: white;
}

#fieldset input{

    width: 10px;
    height: 25px;
    background-color:  white;

}


#fieldset h3{

    margin: 10px 10px;
}

#ngui {

    margin: 0px 25px;
    text-align: center;
}



#main{
    margin: -5% 0% 0% 0%;
    height: 50%;


}
#main2{
    width: 100%;
    background-color: #C46B7C ;
}

#fieldset1 {
    background-color: #ffcccc;
    margin: 10px 0px 0px 10px;
    padding: 20px 60px;
    height: 50%; /*Ancho*/
    width: 98%;/*Largoo*/
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    right: 100px;
}

#fieldset1 h5{
    color: black;
}

#fila1 input {
    padding: 0% 17%;
    margin: 20px 0px;
    width: 240px;
    height: 40px;
    background-color:  white;
}

#fila2 input {
    padding: 0% 17%;
    margin: 20px 0px;
    width: 240px;
    height: 40px;
    background-color:  white;
}


#col2 fieldset{
    position: relative;
    left: 490px;
    top:10px;
}

#titulodescripcion h3{
    color: white;
}

#tabla{
    width: 90%;
}

#tabla th{
    text-align: center;
    background-color: #ffcccc;
}

#tabla td{
    background-color: white;
}

table,th  {
    border: 1px solid black;
}

table,td  {
    border: 1px solid black;
    
}


#fieldset3 {
    background-color: #ffcccc;
    margin: 0% -30%;
    padding: 10px 20px;
    height: 100%; /*Ancho*/
    width: 92%;/*Largoo*/
    text-align: left;
    font-family: 'Libre Baskerville', serif;
}




#fieldset3 label{
    margin: 5px 0px;
    width: 110px;
}

#fieldset3 input{
    padding: 0% 20%;
    margin: 5px 0px;
    width: 110px;
    height: 35px;
    background-color: white;
}


#fieldset4 {
    background-color: #ffcccc;
    margin: 0% 70%;
    padding: 1% 5%;
    height: 30%; /*Ancho*/
    width: 25%;/*Largoo*/
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

#fieldset4 p{
    color:white;
}

#fieldset4 button{
    margin: -35px 0px 0px 5px;
    padding: 0px 15px;
    height: 45px;
    background-color: white;

}

#ultimoparrafo p{
    color:white;
}
